.content-header h1{
    display: inline;
}

.after-page-title-span{
    font-size: 25px;
}

.page-title-div{
    margin-top: 20px;
}

.page-title-h{
    display: inline;
}

.page-title-span{
    font-size: 35px;
}