.sorting-order-fade a.desc:after {
    border-top: none;
}

.team-place-span{
    margin-right: 20px;
    font-size: large;
}

.team-logo-div{
    display: inline;
    margin-right: 20px;
}

.team-name-span{
    font-size: large;
}

.team-logo-img{
    width: 50px;
}